body {
    margin: 0;
    padding: 0;

    position: relative;
}
#global{

    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;




}
/*footer {
     margin-top: 200px;
    width: 100%;
    height: 300px;
    position: absolute;
    margin-bottom: 0;
    background-color: #333;
    color: #fff;
    text-align: center;
} */
  /* Your custom styles here */
  nav {
    text-align: center;
    height: 50px;
}

/* Style for navigation links */
nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 50px; /* Adjust the margin to create space between elements */
}

.navbar ul {
    padding: 0px;
    margin-inline-start: 30%;
}
.containner{
    margin-top: 0px;
}




.alert-container {
    width: 20%;
    margin-top: 20px;

    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 1000;
    transition: opacity 0.5s ease-in-out;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;

    border: 1px solid #2ecc71; /* Couleur verte */
    background-color: #27ae60; /* Couleur de fond verte */
    color: #fff; /* Couleur du texte blanc */
    border-radius: 15px 15px;
    opacity: 0; /* Par défaut, l'alerte est transparente */
}

.alert.show {
    opacity: 1; /* Lorsque la classe 'show' est ajoutée, l'alerte devient visible */
}
.carousel{
    margin-left: 25%;
}
.carousel-item img{
    margin-left: 30%;
    width: 300px;
    height:300px;
}


.gradient-bg {
    background: linear-gradient(to right, #EBE6D5, #89CBCB); /* Adjust colors as needed */
}
.footer-cen {
    margin-left:15px;
}