
body{

  background:#eee;
}
.ratings i{


  font-size: 16px;
  color: red}
.strike-text{
  color: red;
  text-decoration: line-through
}





#containerPack{
  justify-content: center;
}
.single-product-item {
  transition: transform 0.3s ease-in-out;

background-color: #fff9da;
width: 350px;
border-radius: 20px;
box-shadow: 3px 3px 6px rgba(36, 141, 233, 0.5) ;
  margin-bottom: 30px;

}
.single-product-item:hover {
  transform: scale(1.05); 
}
.product-image {

padding-top: 0%;
  padding-bottom: 0;
}

.product-image img {


width: 100%;
height: 300px;

  border-radius: 20px;
  margin-bottom: 20px;

}





.single-product-item h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}



p.product-price span {
  display: block;
  opacity: 0.8;
 
  font-weight: 800;
}



.single-product-img img {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 20px #ddd;
  box-shadow: 0 0 20px #ddd;
}

.single-product-content h3 {
  font-size: 22px;
  font-weight: 600;
}

p.single-product-pricing span {
  font-size: 18px;
  display: block;
  opacity: 0.8;
  margin-bottom: 10px;
  font-weight: 400;
}

.single-product-content p {
  font-size: 15px;
  color: #555;
  line-height: 1.8;
}

.single-product-content p.single-product-pricing {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #051922;
  line-height: inherit;
}


.single-product.btn-wtss {
width: calc(50% - 5px); 
}



.single-product.btn-wtss.btn-submit {
  height: 30px;
  width: 35px;
  float: right;
  margin-left: -3%;
}

.single-product.btn-submit {
  background-color: #b7f223;
  height: 50px;
  width: 40px;
  float: left;
  margin-right: -20px; 
}


@media screen and (max-width: 400px) {
  .single-product-item {
   
  width: 350px;
  
  }
}
@media screen and (max-width: 575.98px) {
  .single-product-item {
   
    width: 350px;
    
    }
  



}


@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .single-product-item {
   
    width: 350px;
    
    }
  }
  @media screen and (min-width: 630px) and (max-width: 767.98px) {
     
    .single-product-item {
   
      width: 350px;
      
      }

      }








@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .single-product-item {
   
    width: 330px;
    
    }
}


@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .single-product-item {
   
   
    width: 280px;
    
    
    }
}


@media screen and (min-width: 1200px) {
  .single-product-item {
  
   
    width: 350px;
    
    }
    

}