#divCard{
 
    margin-left: 15px ;
    margin-bottom: 15px;
   align-items: center;
   text-align: center;
   padding-top: 10px;
   height: 350px;
    
}
#quantite{
    width: 30%;
    height: 22%;
    border-radius: 4px;
    margin-right: 20px;
    margin-bottom: 10px;
}
#voirPlus{
    width: 25%;
    margin-left: 40%;
}