.card-img-top:hover {
  transform: scale(1.1);
  }
  .section-title {
      color: #2f2f2f; }
  
  
    .product-section {
  
  
      padding: 7rem 0; }
      .product-section a img{
          height: 250px;
          width: 397px;
      }
      .product-section .product-item:hover{
          transform: scale(1.05);
      }
      .product-section .product-item {
          box-shadow: 4px 4px 8px rgba(36, 141, 233, 0.5) ;
          transition: transform 0.3s ease-in-out;
          border-radius: 30px;
          height: 400px;
        text-align: center;
        text-decoration: none;
        display: block;
        position: relative;
        padding-bottom: 50px;
        cursor: pointer; }
        .product-section .product-item .product-thumbnail {
          width: 100%;
          margin-bottom: 30px;
          border-radius: 30px;
  
          position: relative;
          top: 0;
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease; }
        .product-section .product-item h3 {
          font-weight: 600;
          font-size: 16px; }
        .product-section .product-item strong {
          font-weight: 800 !important;
          font-size: 18px !important; }
        .product-section .product-item h3, .product-section .product-item strong {
          color: #2f2f2f;
          text-decoration: none; }
        .product-section .product-item .icon-cross {
          position: absolute;
          width:50px;
          height: 40px;
          display: inline-block;
          background: #2f2f2f;
          bottom: 15px;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          margin-bottom: -17.5px;
          border-radius: 50%;
          opacity: 0;
          visibility: hidden;
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease; }
          .product-section .product-item .icon-cross img {
            position: absolute;
            left: 50%;
            top: 46%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
        .product-section .product-item:before {
          bottom: 0;
  
          left: 0;
          right: 0;
          position: absolute;
          content: "";
          background-color: #fff9da;
          height: 0%;
          z-index: -1;
          border-radius: 30px;
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease; }
        .product-section .product-item:hover .product-thumbnail {
          top: -25px; }
  
  
  -----------------------------------
  
  .ratings i{


    font-size: 12px;
    color: red}
  .strike-text{
    color: red;
    text-decoration: line-through
  }
  
  .product-section .product-item .icon-cross,
  .product-section .product-item .btn {
  position: absolute;
  width: 50px;
  height: 40px;
  display: inline-block;
  background: #2788ff;
  bottom: px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: -17.5px;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: .3s all ease;
  }
  
  .product-section .product-item .icon-cross img,
  .product-section .product-item .btn svg {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  }
  
  .product-section .product-item:before,
  .product-section .product-item .btn:before {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  content: "";
  background-color: #fff9da;
  height: 0%;
  z-index: -1;
  border-radius: 30px;
  transition: .3s all ease;
  }
  
  .product-section .product-item:hover .btn,
  .product-section .product-item:hover .icon-cross,
  .product-section .product-item:hover:before {
  opacity: 1;
  visibility: visible;
  }
  
  .product-section .product-item:hover:before {
  height: 70%;
  }
  
  
  
  .product-item .button-group {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 25px; 
  width: 100%; 
  }
  
  .submit-btn,
  .wts-btn {
  width: calc(50% - 5px); 
  }
  
  
  
  
  
  .submit-btn {
  float: left; 
  margin-left: -30%; 
  }
  
  .wts-btn {
  float: right; 
  margin-left: 30%;
 
  }
  
@media screen and (max-width: 400px) {
  .single-product-item {
   
  width: 200px;
  
  }
}
@media screen and (max-width: 575.98px) {
  .single-product-item {
   
    width: 200px;
    padding: 30px;
    
    }
  



}


@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .single-product-item {
   
    width: 150px;
    
    }
  }
  @media screen and (min-width: 630px) and (max-width: 767.98px) {
     
    .single-product-item {
   
      width: 150px;
      
      }
    

      }








@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .single-product-item {
   
   
    width: 330px;
    
    }
   
}


@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .single-product-item {
   
   
    width: 300px;
    
    
    }
    
}


@media screen and (min-width: 1200px) {
  .single-product-item {
   
  
   
    width: 350px;
    
    }
   
    

}